scrapy
nltk
sentence-transformers
tqdm
chromadb
accelerate
fastapi[standard]
groq
requests
bcrypt
pyjwt
passlib[bcrypt]
python-multipart
celery 
redis[asyncio]
PyPDF2
sqlmodel
pydantic-settings
alembic
aiofiles
aiomysql
pymysql
cryptography
playwright 
beautifulsoup4
lxml
langchain
langchain-core
langchain-text-splitters